body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main{
    flex: 1;
}

.section3{
    border:1px solid tomato;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-area: 3/1/3/6;
}

.section3 div{
    display: flex;
    flex-direction: column;
}

.section3 div p{
    display: inline-block;
}

.section3 div img{
    height: 20px;
    width: 20px;
    display: inline;

}

.section4{
    border:1px solid tomato;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    grid-area: 4/1/4/6;
}

.section4 img{
    width: 100px;
    height: 100px;
    
}

header{
    border:1px solid tomato;
    background-color: black;
    color: white;
    padding-left: 10px;
    grid-area: 1/1/1/6;


}

main{
    border:1px solid tomato;
}

footer{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    grid-area: 6/1/6/6;
}

.section5{
    display: flex;
    justify-content: center;
    border: 1px solid tomato;
    grid-area: 5/1/5/6;
}

.section2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-area: 2/1/2/6; /*row-start / column-start / row-end / column-end*/
    /* grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2; */

}

.section2 div:nth-child(1){
    border: 3px solid blue;
    width: 50px;
    height: 30px;;
}

.section2 div:nth-child(2){
    border: 3px solid blue;
    width: 50px;
    height: 100px;;
}

.container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50px 300px auto;
  }
